.service__item {
    padding: 10px;
    background-color: var(--card-bg-01);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    border-radius: 5px;
    cursor: pointer;
}

.service__item span {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.service__item span i {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
}

.service__item h4 {
    font-size: 1.3rem;
}

.service__item p {
    font-size: 0.9rem;
    color: #222;
    margin-top: 10px;
}

